{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Business Form</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Nome">Business Name</label>
  <div class="col-md-4">
  <input id="Nome" name="Nome" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Cognome">Email</label>
  <div class="col-md-4">
  <input id="Cognome" name="email" type="email" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Invio"></label>
  <div class="col-md-4">
    <button id="Invio" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>

{% endblock %}
