{% extends 'base.html' %}
{% block content %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal" action="{%url 'hood'%}" method="post" >
  {% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend>CREATE HOOD</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Nome">Hood Name</label>
  <div class="col-md-4">
  <input id="Nome" name="Nome" type="text" placeholder="" class="form-control input-md" required>

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Cognome">Hood Location</label>
  <div class="col-md-4">
  <input id="Cognome" name="Cognome" type="text" placeholder="" class="form-control input-md" required>

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="Invio"></label>
  <div class="col-md-4">
    <button id="Invio" action=""name="Invio" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>

  </form>
{% endblock %}
