{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
{% for post in posts %}
    <div class="well wrapper">
      <div class='row dat'>
        This post was posted by
        <b>{{post.editor}}</b>
        on
        <br>{{post.pub_date}}</br>
      </div>
      <div class="post_image">
        {% if post.post_image %}
          <img src="{{post.post_image.url}}" class="img-responsive" alt="Image">
        {% else %}
          <img src="{% static 'images/image-not-found.jpg' %}" class="img-responsive" alt="Image">
        {% endif %}
      </div>

        {{post.description }}

    </div>

  {% endfor %}
{% endblock %}
